.background-image {
    background-image: url("../../assets/images/curious-cat.png");
    height: 25vh;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.about article {
    padding: 25px 0;
}

.about__links {
    margin-left: 45px;
}

.about__link {
    color: var(--blue-700);
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
}

.about__link:hover {
    text-decoration: underline;
    color: var(--neutral-800);
}

@media screen and (min-width: 768px) {
    .background-image {
        background-position: top;
        height: 45vh;
        border-radius: 12px;
    }
}
