.background-image {
    background: url('../../assets/images/curious-cat2.png');
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 0 7px rgba(92, 69, 27, 0.215);
    z-index: 99;
}

.more {
    padding: 20px 0;
}

.more__list {
    margin-left: 24px;
    list-style: none;
}

.more__icon {
    position: relative;
    left: 15px;
}

.more__link {
    text-decoration: none;
    font: bold 1em var(--poppins-font);
    color: var(--beige-800);
    transition: all 0.3s ease-in-out;
}

.more__link:hover {
    text-decoration: underline;
    color: var(--brown-500);
}
