.welcome {
    display: flex;
    align-items: center;
}

.welcome__image {
    height: 85px;
}

.cat-laying {
    background-image: url('../../assets/images/cat-nature.png');
    height: 35vh;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.more {
    padding-bottom: 50px;
}

.more__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.more__button {
    width: 80vw;
    padding: 10px;
    border-radius: 12px;
    font: bold 1em var(--quicksand-font);
}

.more__button--curiosities {
    border: 2.5px solid var(--brown-500);
    color: var(--beige-600);
}

.more__button--records {
    border: none;
    background-color: var(--brown-500);
    color: var(--brown-300);
}

.more__button--adoption {
    border: 2.5px solid var(--beige-600);
    color: var(--brown-600);
    background-color: var(--brown-300);
}

.colors__item {
    display: flex;
}

.colors__item div {
    width: 75%;
}

.colors__image {
    height: 105px;
}

main img {
    border-radius: 50%;
    margin: 0 15px;
    box-shadow: 0 0 12px var(--brown-400);
}


/* Media Queries */
@media screen and (min-width: 768px) {
    .more__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .more__button {
        width: fit-content;
        padding: 10px 25px;
        border-radius: 12px;
        font: bold 1em var(--quicksand-font);
    }

    .cat-laying {
        background-position: left;
        height: 35vh;
        border-radius: 12px;
    }
}
