:root {
    --neutral-50:  #f9fafb;
    --neutral-100: #f1f3f6;
    --neutral-200: #e4e7ec;
    --neutral-300: #cdd3dd;
    --neutral-400: #9aa4b2;
    --neutral-500: #6b7280;
    --neutral-600: #4b5563;
    --neutral-700: #374151;
    --neutral-800: #1f2937;
    --neutral-900: #141517;

    --blue-50:  #f2f6fc;
    --blue-100: #e6euef9;
    --blue-200: #c9daf2;
    --blue-300: #a6c0e6;
    --blue-400: #7fa2d6;
    --blue-500: #5f7ea6;
    --blue-600: #4c6788;
    --blue-700: #3d526d;

    --beige-50:  #faf8f4;
    --beige-100: #f3eee6;
    --beige-200: #e7ddcd;
    --beige-300: #d8cfc1;
    --beige-400: #b9ad9a;
    --beige-500: #6d624e;
    --beige-600: #474033;

    --brown-100: #ede6da;
    --brown-200: #d6c4a8;
    --brown-300: #ddc6a7;
    --brown-400: #6a4a1c;
    --brown-500: #492e0b;
    --brown-600: #432d0f;
    --brown-700: #311d05;
    --brown-800: #1d1001;

    --hover-primary: var(--blue-600);
    --hover-accent: var(--brown-500);

    /* Fonts */
    --lexend-font: "Lexend", sans-serif;
    --bricolage-grotesque-font: "Bricolage Grotesque", sans-serif;
    --space-grotesk-font: "Space Grotesk", sans-serif;
    --saira-font: "Saira", sans-serif;
    --archivo-font: "Archivo", sans-serif;
    --outfit-font: "Outfit", sans-serif;
    --dm-sans-font: "DM Sans", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --tilt-warp-font: "Tilt Warp", sans-serif;
    --manrope-font: "Manrope", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    background-color: var(--neutral-100);
    font-family: var(--manrope-font);
}

.header {
    background-color: var(--brown-800);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    font: bold 1.8em var(--tilt-warp-font);
    letter-spacing: 2.5px;
    color: var(--brown-300);
    padding: 15px 0;
}

.header__button {
    background-color: var(--brown-800);
    color: var(--neutral-200);
    border: none;
}

.header__navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header__link {
    font: bold 1.1em var(--bricolage-grotesque-font);
    color: var(--neutral-200);
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}

.header__link:hover {
    background-color: var(--brown-700);
    color: var(--brown-200);
}

.background-image {
    background-position: left;
    background-size: cover;
    background-color: var(--neutral-700);
    background-attachment: fixed;
    width: 100%;
}

.footer {
    background-color: var(--neutral-900);
    color: var(--beige-50);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.footer__item {
    margin-top: 16px;
    height: 35vh;
}

.footer__navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__subtitle {
    color: var(--neutral-50);
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

.footer__link {
    color: var(--neutral-50);
    text-decoration: none;
    padding: 5px;
    transition: all 0.3s ease;
}

.footer__link:hover {
    color: var(--beige-300);
}

.footer__image {
    color: var(--beige-50);
    width: 35px;
}


/* Generic Tags */
h1,
h2,
h3 {
    font-weight: bold;
    font-family: var(--space-grotesk-font);
    color: var(--beige-600);
    padding: 10px 15px;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

p {
    color: var(--neutral-800);
    padding: 10px 25px;
}

button {
    cursor: pointer;
}

.material-symbols-outlined {
    position: relative;
    top: 6px;
}
